{{outlet}}
<br />
<section role="region">
    <header>
        <h2>Available Timezones</h2>
    </header>
</section>

<div class="padded">
{{ view Ember.Select content=timezones selection=selectedTimezone
   optionValuePath='content.offset' optionLabelPath='content.name'}}

<div class="bb-docs skin-organic">
    <button {{action 'add'}}>Add Timezone</button></p>
</div>
</div>

<section role="region">
    <header>
        <h2>My Timezones</h2>
    </header>
</section>

<section data-type="list">
    <ul style="padding-bottom: 70px">
    {{#each model}}
  <li>{{name}} <div style="display: inline-block; margin-top: -15px !important; float: right"  {{action 'remove' this}}><label class="pack-checkbox">
          <input checked="" type="checkbox">
          <span></span>
        </label> </div></li>
{{/each}}
    </ul>
</section>

